<div>
    <h2 id="page-heading">
        <span>Wallets</span>
        <button id="jh-create-entity" *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-wallet" [routerLink]="['/wallet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wallets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="walletId"><span>Wallet Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="walletCategory"><span>Wallet Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="walletSubcategory"><span>Wallet Subcategory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="walletType"><span>Wallet Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isShow"><span>Is Show</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span>Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="approved"><span>Approved</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="approvedOn"><span>Approved On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pricePointValue"><span>Price Point Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPricePointValue"><span>Total Price Point Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountAlertThreshold"><span>Amount Alert Threshold</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountAlertThreshholdtype"><span>Amount Alert Threshholdtype</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxDebitPerRequest"><span>Max Debit Per Request</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span>Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedon"><span>Modifiedon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let wallet of wallets ;trackBy: trackId">       
            <tr *ngIf="wallet.walletId!='central_bank'">
                <td><a [routerLink]="['/wallet', wallet.id, 'view' ]">{{wallet.id}}</a></td>
                <td>{{wallet.walletId}}</td>
                <td>{{wallet.walletCategory}}</td>
                <td>{{wallet.walletSubcategory}}</td>
                <td>{{wallet.walletType}}</td>
                <td>{{wallet.isShow}}</td>
                <td>{{wallet.isActive}}</td>
                <td>{{wallet.approved}}</td>
                <td>{{wallet.approvedOn | date:'medium'}}</td>
                <td>{{wallet.pricePointValue}}</td>
                <td>{{wallet.totalPricePointValue}}</td>
                <td>{{wallet.amountAlertThreshold}}</td>
                <td>{{wallet.amountAlertThreshholdtype}}</td>
                <td>{{wallet.maxDebitPerRequest}}</td>
                <td>{{wallet.created | date:'medium'}}</td>
                <td>{{wallet.modifiedon | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wallet', wallet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [routerLink]="['/wallet', wallet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [routerLink]="['/', { outlets: { popup: 'wallet/'+ wallet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="wallets && wallets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
