<div>
    <h2 id="page-heading">
        <span>User Masters</span>
        <button id="jh-create-entity" *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-pp-user-master" [routerLink]="['/pp-user-master/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
     <div class="searchPanel">
        <label class="form-control-label">Search By</label>
        <select class="form-control" (change)="assignProperty($event)">
            <option [selected]="p===prop" [value]="">--Select Property--</option>
            <option *ngFor="let p of properties" [value]="p">
                {{p}}
            </option>
        </select>
        <label class="form-control-label">To Search</label>
        <input type="text" class="form-control" [(ngModel)]="matchString" (keyup)="onKey($event)"/>
        <button type="button" class="btn btn-primary search-btn" (click)=search()><span>Search</span></button>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ppUserMasters">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobile"><span>Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pricePointValue"><span>Price Point Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="param1"><span>Param 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="param2"><span>Param 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="param3"><span>Param 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span>Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedon"><span>Modifiedon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ppUserMaster of ppUserMasters ;trackBy: trackId">
                <td><a [routerLink]="['/pp-user-master', ppUserMaster.id, 'view' ]">{{ppUserMaster.id}}</a></td>
                <td>{{ppUserMaster.name}}</td>
                <td>{{ppUserMaster.email}}</td>
                <td>{{ppUserMaster.mobile}}</td>
                <td>{{ppUserMaster.pricePointValue}}</td>
                <td>{{ppUserMaster.param1}}</td>
                <td>{{ppUserMaster.param2}}</td>
                <td>{{ppUserMaster.param3}}</td>
                <td>{{ppUserMaster.created | date:'medium'}}</td>
                <td>{{ppUserMaster.modifiedon | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pp-user-master', ppUserMaster.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [routerLink]="['/pp-user-master', ppUserMaster.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [routerLink]="['/', { outlets: { popup: 'pp-user-master/'+ ppUserMaster.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ppUserMasters && ppUserMasters.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
